<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=olibatchstorage;AccountKey=F6BJWL0QYePXuRPiXrz2WLKjom8NRcMyerpKapO+xhDTrEwwwWXWr8vzrLwDXYy+lufUb1sUSCW1HSsB4zCTMQ==;EndpointSuffix=core.windows.net"/>
    <add key="StorageInputContainerName" value="output"/>
    <add key="StorageOutputContainerName" value="output"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>