<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureBatchAccountName" value="ACCOUNT_NAME"/>
    <add key="AzureBatchAccountKey" value="ACCOUNT_KEY"/>
    <add key="AzureBatchAccountUrl" value="ACCOUNT_URL"/>
    
    <add key="AzureStorageConnectionString" value="CONNECTION_STRING"/>
    <add key="StorageInputContainerName" value="input"/>
    <add key="StorageOutputContainerName" value="output"/>

    <add key="BatchPoolId" value="Batch-MR-Pool"/>
    <add key="BatchJobId" value="Batch-MR-Job"/>
    <add key="BatchJobTimeoutInMinutes" value="60"/>

    <add key="BatchJobTaskMapperCommandline" value="cmd /c xcopy %AZ_BATCH_APP_PACKAGE_mapper% . /s /e /y &amp; .\\dymosim.exe"/>
    <add key="BatchJobTaskReducerCommandline" value="cmd /c %AZ_BATCH_APP_PACKAGE_reducer%\\BatchProcessorTask.exe &quot;cmd /c echo 'Hello World'&quot;"/>
    
    <add key="LocalOutputDirectory" value="C:\temp\output"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>